{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/joinus.png' %}">
  <link rel="icon" type="image/png" href="{% static 'assets/img/test.png' %}">
  {% block title %}{% endblock title %}
  {% include 'base/partials/styles.html' %}
  {% block custom_styles %}{% endblock custom_styles %}
</head>

<body class="g-sidenav-show bg-gray-100">
  <main class="main-content max-height-vh-100 h-100">
    {% include 'base/partials/sidenav-top.html' %}
    <div class="pt-5 pb-6 bg-cover"></div>
    {% block content %}{% endblock content %}
  </main>
  {% include 'base/partials/scripts.html' %}
</body>

</html>